.box {
    background-color: #f0fdff;
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

head{
    font-family: 'Raleway', sans-serif !important;
    font-size: 18px; 
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Raleway', sans-serif !important;
}

h3 {
    font-family: 'Raleway', sans-serif !important;
}

.image{
  height:300px;
  width: 300px;
}

.rotate {
    animation: rotation 5s;
}

@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}

.linear {
    animation-timing-function: linear;
}

.infinite {
    animation-iteration-count: infinite;
}

.rotate-image {
    animation: rotation 2s linear infinite;
}